table.uper
    {
    width: 100%; /* Ширина таблицы */
    border-spacing: 0; /* Расстояние между ячейками */
    }

td.menu_header {
    width: 50%; /* Ширина ячеек */
    vertical-align: top; /* Выравнивание по верхнему краю */
    font-size: 1.5em;
}
td.menu_header_right/* Правая ячейка */
    {  
    text-align: right; /* Выравнивание по правому краю */
    vertical-align: top; /* Выравнивание по верхнему краю */
    font-size: 1.5em;
    }

body 
    {
        background-color: #156113;
    }

a {
    color: #fffa38;
}

.up   /*цвет ссылки*/
    {
        position: fixed;
        top: 0;
        right: 10px;
    }
    


header    /*Верхняя часть страницы*/
    {
        color: #fffa38;
        border-bottom-style: solid;
    }

    .menu {
        margin-top: 20%;
    }

    
table.icon
    {
        width: 100%;
        display: table;
        table-layout: fixed; /* optional, for equal spacing */
        border-collapse: collapse;
       
    }


td.first {
    color: #fffa38;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}
    footer  /*Нижняя часть страницы*/
    {
        color: #fffa38;
        position: fixed;
        bottom: 0;
        right: 0;
    }

#main {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
#okno {
        width: 300px;
        height: 70px;
        text-align: center;
        padding: 15px;
        border: 3px solid #fffa38;
        border-radius: 20px;
        color: #fffa38;
        background: #156113;
        position: absolute;
        top: 50%;
        bottom: 50%;
        left: 35%;
        margin: auto;
      }
#main:target {display: block;}